body {
    font-family: sans-serif ;
    margin: 0;
    padding: 0;
    background-color: #C3DB56;
}

.contenido {
    background-color: #8BDB56 ;
    padding: 0 0;
    text-align: center;
}

.contenido img {
    max-width: 20%;
    margin-left: 15px;
}

.contenido h1 {
    color: #2b2f32;
    font-family: sans-serif;
    margin: 0;
    font-weight: bold;
}

.navegacion {
    background-color:#8BDB56
}

.navegacion ul {
    list-style-type: none;
    border: 2px solid #C3DB56;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navegacion li {
    display: inline-block;
}

.navegacion a {
    display: block;
    color: #2b2f32;
    text-align: center;
    font-size: 25px;
    padding: 12px 60px;
    font-size: bold;
    text-decoration: none;
}

.navegacion img {
    width: 70px;
    height: 70px;
    align-items:right ;
}

.contenido1 {
    background-color: #88DB56 ;
    padding: 0 0;
    text-align: right;

}

footer i{
    font-size: 2rem;
    margin: 0 10px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}